.charts {
	width: 35rem;
	background: #fff;
	color: var(--main-clr);
	margin: 0 auto;
	border-radius: var(--border-r);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
