.charts {
	width: 35rem;
	/* height: fit-content; */
	margin: 0 auto;
	color: var(--main-clr);
	border-radius: var(--border-r);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
