.covidContainer {
	display: grid;
	grid-template-columns: 1fr 5fr 2fr;
	min-height: 100vh;
}

.covidContainer h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

.covidContainer p {
	font-size: 3rem;
	font-weight: 900;
}

.footer {
	color: var(--main-clr);
	padding: 1rem;
	text-align: center;
}

.footer p {
	padding-top: 0.3rem;
}

.footer a {
	text-decoration: underline;
}

.footer a:hover {
	text-decoration: none;
}

@media screen and (max-width: 998px) {
	.covidContainer {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
}
